.container-swiper {
  background-color: #121212;
  -webkit-box-shadow: 1px 1px 5px 4px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 1px 5px 4px rgba(0,0,0,0.75);
  box-shadow: 18x 1px 5px 4px rgba(0,0,0,0.75);
  width: 80vw;
  height: 70vh;
}

.img-box{
  width: 80vw;
  height: 70vh;
}

.photo-img{
  max-width: 80vw;
  height: 100%;
  object-fit: contain;
}

.info-box{
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 1%;
}

@media(max-width: 500px){
  .photo-img{
    width: 100%;
  }

  .container-swiper{
    width: 90vw;
    height: 80vh;
    display: flex;
    justify-content: center; 
    align-items: center;
  }

  .img-box{
    /* height: 100vh; */
    width: 100%;
    display: flex;
    justify-content: center; 
    align-items: center;
  }
}


@media(max-width: 1000px){
  .container-swiper{
    width: 95vw;
    height: 90vh;
  }

  .photo-img{
    object-fit: contain;
  }

  .img-box{
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center; 
    align-items: center;
  }
}
